<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NLP App | Login Page</title>
</head>
<body style="background-color: #ba6565ff;">
    <h1> NLP App</h1>
    <h1>Login Here</h1>

       {% if message %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}
    
    <form action="/" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/register">Register here</a></p>
</body>
</html>